<div class="footer">
		<div class="container">
			<div class="col-md-2">
				<div class="brand">
					<p>TechShop</p>
				</div>
				<p class="contact">
					Пн-Сб с 10:00 до 18:002
					(044) 227 19 402
					techshop@gmail.com2
				</p>
			</div>
			<div class="col-md-2">
				<div class="about_us_f">
					<h3>О нас</h3>
					<ul >
						<li><a href="#">О компании</a></li>
						<li><a href="#">Доставка и оплата</a></li>
						<li><a href="#">Помощь</a></li>
						<li><a href="#">Гарантии</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="why_we">
					<h3>Почему мы</h3>
					<ul>
						<li>Бесплатная доставка от 4000 гривен</li>
						<li>5 лет на рынке</li>
						<li>Только оригинальня продукция</li>
						<li>Широкий выбор продукции</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<h4>Подпишись на рассылку</h4>
				<input type="text" placeholder="Ваш email">

				<div class="media">
					<h4>Мы в соц. сетях</h4>
					<a href="#"><i class="fab fa-telegram"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-vk"></i></a>
					<a href="#"><i class="fab fa-viber"></i></a>
				</div>
			</div>
		</div>	
	</div>

	<script src="libs/jquery/jquery-1.11.2.min.js"></script>
	<script src="libs/bootstrap/bootstrap.min.js"></script>
	<script src="libs/fontawesome/js/all.js"></script>
	<script src="libs/slick/slick/slick.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>