@font-face {
  font-family: "Mistral";
  src: url(../fonts/Mistral/mistral.ttf); }

@font-face {
  font-family: "Trebuchet MS";
  src: url(../fonts/TrebuchetMS/Trebuchet.ttf); }

@font-face {
  font-family: "Brush";
  src: url(../fonts/Brush/brush.eot);
  src: url(../fonts/Brush/brush.ttf);
  src: url(../fonts/Brush/brush.woff); }

@font-face {
  font-family: "Segoe UI";
  src: url(../fonts/SegoeUI/SegoeUIRegular.ttf); }
