body {
  background-color: #000; }

header {
  background-color: #fff; }
  header .logo {
    padding: 45px 80px;
    background: url(../img/logo.png) no-repeat left center; }
  header ul {
    font-family: "Mistral";
    list-style: none; }
    header ul li {
      float: left;
      padding-left: 30px;
      margin-top: 10px; }
    header ul a {
      color: #000;
      text-decoration: none;
      font-size: 26px; }
    header ul a:hover {
      color: #000;
      text-decoration: none;
      display: block;
      padding-bottom: -10px;
      border-bottom: 1px solid #000; }

#main {
  height: 919px;
  background: url(../img/main1.jpg) center top;
  background-origin: padding-box;
  padding-top: 190px; }
  #main .cup {
    text-align: center;
    color: #fff;
    font-size: 65px; }
    #main .cup i.my_f {
      position: absolute;
      right: 110px; }
    #main .cup .dots_1 {
      margin-left: 50px; }
      #main .cup .dots_1:first-child {
        margin-left: 100px; }
      #main .cup .dots_1 i.my_m {
        font-size: 0.2em;
        float: left;
        margin-top: 50px; }
    #main .cup .dots_2 {
      margin-left: 50px; }
      #main .cup .dots_2:last-child {
        margin-right: 95px; }
      #main .cup .dots_2 i.my_m {
        font-size: 0.2em;
        float: right;
        margin-top: 50px; }
  #main .slogan_1 {
    color: #fff;
    font-family: "Trebuchet MS";
    font-size: 22px;
    text-align: center;
    margin-top: 35px; }
  #main .coffeehouse {
    margin-top: 10px;
    font-size: 152px;
    color: #fff;
    font-family: "Brush"; }
    #main .coffeehouse span {
      font-size: 72px;
      font-family: "Mistral"; }

#history {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 120px; }
  #history h3 {
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0; }
  #history h2 {
    font-family: "Mistral";
    font-size: 72px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: lighter; }
  #history .dots {
    margin-top: -17px;
    font-size: 65px;
    letter-spacing: -8px; }
    #history .dots i.my_m {
      font-size: 0.23em; }
  #history p {
    font-family: "Segoe UI";
    font-size: 17px;
    margin-top: -10px;
    line-height: 21px; }
  #history .readmore {
    margin-top: 40px; }
    #history .readmore span > a {
      font-family: "Trebuchet MS";
      font-size: 20px;
      color: #000; }
    #history .readmore i {
      font-size: 30px;
      position: absolute;
      margin-left: 10px; }
  #history img {
    width: 100%; }

#adv {
  background: url("../img/about.jpg") top center;
  padding-top: 110px;
  padding-bottom: 150px;
  color: #fff;
  text-align: center; }
  #adv h3 {
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 300; }
  #adv h2 {
    font-family: "Mistral";
    font-size: 92px;
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: 300; }
  #adv .dots i.my_m {
    font-size: 15px; }
  #adv p.txt {
    font-family: "Segoe UI";
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 145px;
    color: #fff; }
  #adv .circle {
    width: 160px;
    height: 160px;
    background-color: #fff;
    border-radius: 50%;
    color: #333; }
    #adv .circle i.my_d {
      font-size: 150px;
      position: absolute;
      left: 75px;
      top: 5px; }
    #adv .circle i.my_b {
      font-size: 150px;
      position: absolute;
      left: 75px; }
    #adv .circle i.my_a {
      font-size: 150px;
      position: absolute;
      left: 76px; }
  #adv h4 {
    font-family: "Trebuchet MS";
    font-size: 24px;
    line-height: 27px;
    font-weight: 200;
    margin-bottom: 30px; }
  #adv p {
    font-family: "Segoe UI";
    color: #d5d5d5;
    font-size: 16px;
    line-height: 18px;
    margin-top: 0; }

#menu {
  background-color: #fff;
  color: #000;
  padding-top: 10px;
  padding-bottom: 70px; }
  #menu h2 {
    text-align: center;
    font-size: 48px;
    font-family: "Trebuchet MS";
    color: #000; }
  #menu h4 {
    font-family: "Trebuchet MS";
    font-size: 28px;
    margin: 15px 0 5px 0;
    width: 255px;
    display: inline-block; }
  #menu p {
    font-family: "Segoe UI";
    font-size: 18px;
    margin: 5px 0 0;
    line-height: 17px;
    width: 255px;
    display: inline-block; }
  #menu span {
    font-family: "Verdana";
    font-size: 36px;
    float: right;
    font-weight: 200;
    font-style: normal;
    display: block;
    margin-top: 15px; }
  #menu hr {
    border-color: #aaa;
    margin-top: 15px; }

#gallery {
  background: url(../img/gallery_bg.jpg) top center #fff;
  text-align: center;
  padding-bottom: 120px; }
  #gallery h4 {
    color: #fff;
    font-family: 'Trebuchet MS';
    font-size: 28px;
    margin-bottom: 30px; }
  #gallery h2 {
    color: #fff;
    font-family: "Mistral";
    font-size: 72px;
    margin-top: 0; }

footer {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center; }
  footer a {
    color: #fff; }
  footer .social {
    font-size: 35px; }
    footer .social:hover {
      color: #aaa; }
  footer hr {
    border-color: #fff;
    margin-top: 3px; }
  footer .cntct .my {
    font-size: 100px;
    position: absolute;
    right: 110px;
    top: 13px;
    cursor: default; }
  footer .cntct h3 {
    font-family: "Trebuchet MS";
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 120px;
    cursor: default; }
  footer .cntct h4 {
    font-family: "Trebuchet MS";
    font-size: 22px;
    margin-top: 0; }
    footer .cntct h4 a:hover {
      color: #fff; }
  footer .cntct p {
    font-family: "Segoe UI";
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px; }
